html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
body {
		line-height: 1;
		font-size: 22px;
		font-family: 'Open Sans', sans-serif;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
	}
ol, ul {
		list-style: none; }
blockquote, q {
		quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
		content: '';
		content: none; }
table {
		border-collapse: collapse;
		border-spacing: 0; }
.navbar_head{
	background: #fff;
	
	border-bottom: 3px solid #ddd;
}
.navbar a i{
	background: #eee;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
	margin-right: 6px;
	padding-top: 3%;
	
}
.navbar-text {
	color: #a9a9a9;
	font-size: 14px;
	margin-right: 15px;
	margin-top: 10px;
	
}
.header{

	background: linear-gradient( rgba(138,186,86,0) , rgba(138,186,86,0.3) 95% ), url("../img/bg.png") fixed no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.home_logo{
	padding: 60px 0px;
	padding-bottom: 40px;
}


.header h1{
    text-align: center;
	font-size: 48px;
	font-family: 'open sans', sans-serif;
	font-weight: bold;
	color: #ffffff;
	line-height: 50px;
	margin-bottom: 14px;
	}
.txt_big{
    
	color: #d3d3d3;
	font-size: 18px;
	font-family: 'open sans', sans-serif;
	line-height: 30px;
    
}
.txt_sml{
	color: #f0fff0;
	font-size: 13px;
	font-family: 'open sans', sans-serif;
	padding-bottom: 40px;
}
.green_segment{
    background: #f3ffe6;
	background-size: cover;
	font-family: 'open sans', sans-serif;
	border-bottom: 3px solid #ddf2c7;
}
.green_segment h4{
	color: #696969;
	font-weight: bold;
	font-size: 16px;
	font-family: 'open sans', sans-serif;
	margin: 0 0 20px 0;
}
.green_segment p{
	color: #a9a9a9;
	font-size: 14px;
	font-family: 'open sans', sans-serif;
}
.bottom_page{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 350px;
}



.grn_btn button:hover{
    background: #73b928;
    color: #fff
	
}
.btn-default {
    color: #fff;
    background-color: #8aba56;
    border-color: #8aba56;
    
}

.home{
	text-align: left;
	border-bottom: 3px solid #ddf2c7;
	background: #f3ffe6;
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	border-radius: 3px;
	overflow: hidden;
	width: 98%;
}
.plan {
	width: 98%;
	margin-top:60px;
	text-align:left;
}
.plan img{
	position: relative;
	display: inline-block;
	margin-left: 10%;
	height: auto;
}
.photo{
	float: left;
	width: 200px;
	height: 200px;
	display: inline-block;
}
.info{
	width: 56%;
	display: inline-block;
	text-align: left;
	padding-left: 4%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.info h3{
	font-size: 18px;
	color: #696969;
	font-weight: bold;
	font-family: 'open sans', sans-serif;
	padding-top: 30px;
	line-height: 30%;
	margin-bottom: 8px;
}
.info h4{
	color: #a9a9a9;
	font-size: 14px;
	font-family: 'open sans', sans-serif;
	line-height: 30px;
	margin-bottom: 4px;
}
.col-lg-6{
	padding-left:0;
}
.btn-grey{
	color: #4d8c5a;
	background-color:#eee ;
	border-color: #5B9A68;
}
.btn-lg {
    border-radius: 3px;
	margin-bottom: 20px;
}
.gray{
	background: #f8f8f8;
	padding-top:60px;
	padding-bottom: 60px;
}
.gray h2{
	font-size:30px;
	
	margin-bottom:10px;
}
.gray_p{
	color: rgb(169, 169, 169);
	font-size: 16px;
	
}
.center{
	text-align: center;
}

.fa-id-card-o{
	color: #5B9A68;
}
.fa-bolt{
	color: #5B9A68;
}
.fa-map-o{
	color: #5B9A68;
}
.square{
	padding: 20px 20px;
	border: 2px solid #5b9a68;
	border-radius: 25px;
	display: inline-block;
	position: relative;
	width:100px;
	margin-bottom: 20px;
}
.white{
	background: #fff;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 1px solid #ddd;
}
.green {
	color: #5b9a68;
	margin-bottom: 10px;
	font-weight: bolder;
	
}
.gray_h{
	color: #808080;
	padding-top: 30px;
	font-size: 14px;
	font-family: 'open sans', sans-serif;
	font-weight: bold;
	padding-bottom: 30px;
}

.round{
	background: #eee;
	height: auto;
	position: relative;
	margin-left: 3%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 100%;
}
.inl{
	position: relative;
	display: inline-block;
}
.pull-left i{
	padding-top:20px;
	color: #8aba56;
}
.pull-right{
	float: right;
	width: 75%;
	padding-top: 20px;
	margin-left:10px;
	
}
.btm{
	padding-top: 10px;
	display: inline-block;
	position: relative;
}
.env_st{
	color: #5b9a68;
	font-size: 16px;
	top: -5px;
	position: relative;
}
.sml{
	font-size:14px;
}
.fa-facebook-square{
	color:#eee
}
.fa-facebook:hover{
	background: #3b5998
}
.fa-twitter-square{
	color:#eee
}
.fa-twitter:hover{
	background: #1dcaff
}
.fa-youtube-square{
	color:#eee
}
.fa-youtube:hover{
	background: #ee0f0f
}
.social{
	margin-top: 10px;
	margin-right: 30px;
}


h2{
	font-size: 28px;
	font-weight: bold;
	color: #000000;
	font-family: 'open sans', sans-serif;
	line-height: 50px;
	margin-bottom: 14px;
}
p{
	margin: 0 0 20px 0;
}
.subtitle{
	color: rgb(169, 169, 169);
	font-family: 'open sans', sans-serif;
	font-size: 16px;
	line-height: 26px;

	padding-bottom: 15px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
	padding: 5px;
	line-height: 1.42857143;
	vertical-align: baseline;
	border-top: 0;
	
}
.table{
	margin-bottom:0;
}
.grey{
	font-size: 14px;
	font-weight: bold;
	font-family: 'open sans', sans-serif;
	color: rgb(105, 105, 105);
}
.green{
	font-size: 14px;
	font-weight: bold;
	font-family: 'open sans', sans-serif;
	color: #8aba56;
}
.narrow{
	width: 85%;
	margin-left: 10%;
}
.txt_title{
	color: #000;
	font-family: 'open sans', sans-serif;
	font-size: 28px;
	font-weight: normal;
	line-height: 100%;
}
.txt_subtitle{
	color: rgb(85, 85, 85);
	font-size: 20px;
	font-family: 'open sans', sans-serif;
	
}
.txt_text{
	color: #a9a9a9;
	font-size: 16px;
	font-family: 'open sans', sans-serif;
	line-height: 200%;
	position: relative;
	
}
.bold{
	font-weight: bold;
	padding-bottom:10px;
}
.compression{
	width:80%;
}
.service{
	padding: 40px 0;
}
.brands{
	
	width: 95%;
	padding-left: 5%;
}
.brand{
	width:95%
}
.lft{
	float:left;
	background: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	min-height:130px;
}
.rgt{
	float: right;
	width: 75%;
	padding-top: 20px;
	margin-left:10px;
	
}
.right-side{
	float: right;
	
}
.white_div{
	background:#fff;
	border-radius: 5px;
	text-align:left;
	position: relative;
	display: inline-block;
	margin-top: 30px;
	border-bottom: 3px solid #ddd;
	min-height:130px;
	width:90%;
	
}
.contact{
	background: url("../img/bg.png") fixed no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:520px;
}
.contact_form{
	width:90%;
	padding-left: 8%;
	background: rgba(186,186,86,0.2);
	position: relative;
	display: inline-block;
	min-height:520px;
}
.contact_form input{
	margin:20px 0;
	padding: 5px;
	
}
.form-control {
    width: 85%;
    height: 50px;
	
}
.white_ttl{
	color: #ffffff;
	font-size: 20px;
	font-family: 'open sans', sans-serif;
	padding-top: 55px;
	padding-bottom: 20px;
}
.white_txt{
	font-size: 14px;
	font-family: 'open sans', sans-serif;
	color: #ffffe0;
	width: 75%;
	padding-bottom: 14px;
}
.form-group{
	color: #000;
	font-family: 'open sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
}
.btn_w{
	width: 85%;
    height: 50px;
	font-family: 'open sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
	
}
.footbar{
	min-height:70px;
	background-color:#F2F2F2;
}
.grey_txt{
	color: #a9a9a9;
    font-size: 14px;
    font-family: 'open sans', sans-serif;
    text-align: left;
    padding-top: 25px;
    position: relative;
    display: inline-block;
}
.orange_txt{
	color: #f68121;
    font-weight: bold;
    font-size: 14px;
    font-family: 'open sans', sans-serif;
    text-align: left;
    position: relative;
    display: inline-block;
}
.sub{
	height: 100%;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding-bottom: 10px;
	width: 100%;
}
.icons{
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	//width: 40%;
	position: relative;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 15px;
	float: right;
	height:40px;
}
.likes{
	color: #a9a9a9;
	font-size: 14px;
	font-family: 'open sans', sans-serif;
	position: relative;
	display: inline-block;
	padding-top: 25px;
	padding-right: 15px;
	float: right;
}
.confirm_page{
	background: #8aba56;
	box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.3) !important;
	border-radius: 2px;
	width: 500px;
	max-width: 100%;
	display: block;
}
.confirm_header{
	text-align: center;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	line-height: 35px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 26px;
	padding-top: 40px;
}
.confirm_text{
	text-align: center;
	font-size: 16px;
	color: rgba(255,255,255,0.7);
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
	padding-bottom: 30px;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}
.modal{
	margin-top:200px;
}